
@{
    ViewBag.Title = "Index";
}



</div>
<div class="fila">
    <div id="MarkZuc" class="info-persona col-xs-6 col-sm-4 col-lg-2 justify-content-lg-around align-content-center">
        <div class="perfil-inspirador">
            <h5>Mark Zuckerberg</h5>
        </div>
    </div>
    <div id="JeffB" class="info-persona col-xs-6 col-sm-4 col-lg-2 justify-content-lg-around align-content-center">
        <div class="perfil-inspirador">
            <h5>Jeff Bezos</h5>
        </div>
    </div>
    <div id="BillG" class="info-persona col-xs-6 col-sm-4 col-lg-2 justify-content-lg-around">
        <div class="perfil-inspirador align-items-center">
            <h5>Bill Gates</h5>
        </div>

    </div>
    <div id="SteveJ" class="info-persona col-xs-6 col-sm-4 col-lg-2 justify-content-lg-around align-content-center">
        <div class="perfil-inspirador">
            <h5>Steve Jobs</h5>
        </div>

    </div>
    <div id="EllonM" class="info-persona col-xs-6 col-sm-4 col-lg-2 justify-content-lg-around align-content-center">
        <div class="perfil-inspirador">
            <h5>Ellon Musk</h5>
        </div>

    </div>
    <div id="JackM" class="info-persona col-xs-6 col-sm-3 col-lg-2 justify-content-lg-around align-content-center">
        <div class="perfil-inspirador">
            <h5>Jack Ma</h5>
        </div>

    </div>
    <div id="PropioPerfil" class="info-persona col-xs-6 col-sm-3 col-lg-2 justify-content-lg-around align-content-center">
        <div class="perfil-inspirador">
            <h5>@Html.ActionLink("Arma tu perfil", "Index", "Book")</h5>
        </div>

    </div>
</div>

    <h2>Index</h2>

