@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/EstiloIndex.css" rel="stylesheet" />
<section id="HeroBanner">
    <div class="hero-content">
        <h1>INSPIRATÓN</h1>
        <p>La bibloteca online que alberga los libros que inspiraron a las grandes mentes de la tecnologia</p>
        <a href="#" class="hero-cta">Get Started</a>
    </div>
</section>
<!-- Banner ends here -->
<!-- Services section starts here -->
<section id="Services">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="each-service col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="service-icon"><i class="fa fa-university" aria-hidden="true"></i></div>
                <h5 class="service-title">¿SABÍAS QUE...</h5>
                <p class="service-description">Un CEO promedio lee alrededor de 60 libros por anio?</p>
            </div>
            <div class="each-service col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="service-icon"><i class="fa fa-desktop" aria-hidden="true"></i></div>
                <h5 class="service-title">¿SABÍAS QUE...</h5>
                <p class="service-description">Mark Zuckerberg sigue un desafio de lectura y lee un libro cada dos semanas?</p>
            </div>
            <div class="each-service col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="service-icon"><i class="fa fa-line-chart" aria-hidden="true"></i></div>
                <h5 class="service-title">¿SABÍAS QUE...</h5>
                <p class="service-description">El 88% de la gente financieramente exitosa lee al menos 30 minutos por dia?</p>
            </div>
        </div>
    </div>
</section>
<!-- Services section ends here -->
<div class="slideshow-container">
    <div class="mySlides fade">

        <div class="numbertext">1 / 3</div>
        <img src="~/Images/creatividadSA.jpg" alt="355px" width="229px"/>
        <div class="text">
            Desde ISPIRATON partimos de una polémica idea: la inspiración esta sobrevalorada. Las ideas que revolucionaron la humanidad no surgieron por iluminación divina, sino más bien, como fruto del trabajo y la dedicación constantes.
            Al proceso creativo hay que alimentarlo como a un fuego. <strong>Ese fuego son los libros</strong>, y acá vas a encontrar todos los libros que sirvieron de inspiración a las cabezas que revolucionaron el mundo de la tecnología!
            Ademas de eso tambien podras generar tu propio Perfil Inspirador con
        </div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">2 / 3</div>
        <img src="~/Images/Dealing with china.jpg" alt="355px" width="229px"/>
        <div class="text">
            Desde ISPIRATON partimos de una polémica idea: la inspiración esta sobrevalorada. Las ideas que revolucionaron la humanidad no surgieron por iluminación divina, sino más bien, como fruto del trabajo y la dedicación constantes.
            Al proceso creativo hay que alimentarlo como a un fuego. <strong>Ese fuego son los libros</strong>, y acá vas a encontrar todos los libros que sirvieron de inspiración a las cabezas que revolucionaron el mundo de la tecnología!
            Ademas de eso tambien podras generar tu propio Perfil Inspirador con
        </div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">3 / 3</div>
        <img src="~/Images/deAnimalesAdioses.jpg" />
        <div class="text">
            Desde ISPIRATON partimos de una polémica idea: la inspiración esta sobrevalorada. Las ideas que revolucionaron la humanidad no surgieron por iluminación divina, sino más bien, como fruto del trabajo y la dedicación constantes.
            Al proceso creativo hay que alimentarlo como a un fuego. <strong>Ese fuego son los libros</strong>, y acá vas a encontrar todos los libros que sirvieron de inspiración a las cabezas que revolucionaron el mundo de la tecnología!
            Ademas de eso tambien podras generar tu propio Perfil Inspirador con
        </div>
    </div>
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<!-- About Us section starts here -->
<section id="QuienesSomos">
    <div class="container-fluid">
        <div class="row about-wrapper overflow-hidden flex-row-reverse">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 " id="fotoStartup"></div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h2>Que es INSPIRATON?</h2>
                <p class="text-justify">
                    Desde ISPIRATON partimos de una polémica idea: la inspiración esta sobrevalorada. Las ideas que revolucionaron la humanidad no surgieron por iluminación divina, sino más bien, como fruto del trabajo y la dedicación constantes.
                    Al proceso creativo hay que alimentarlo como a un fuego. <strong>Ese fuego son los libros</strong>, y acá vas a encontrar todos los libros que sirvieron de inspiración a las cabezas que revolucionaron el mundo de la tecnología!
                    Ademas de eso tambien podras generar tu propio Perfil Inspirador con los libros que te han inspirado!
                </p>
            </div>
        </div>
    </div>
</section>
<!-- About Us section ends here -->
<!-- Perfiles Inspiradores-->
<section id="perfilesInspiradores">
    <div class="navbar justify-content-center" " id="bannerPerfiles"><h3> Perfiles inspiradores</h3></div>
    <div class="fila justify-content-center">
        <div id="MarkZuc" class="info-persona col-xs-6 col-sm-4 col-lg-2 justify-content-lg-around align-content-center">
            <div class="perfil-inspirador">
                <h5>Mark Zuckerberg</h5>
            </div>
        </div>
        <div id="JeffB" class="info-persona col-xs-6 col-sm-4 col-lg-2 justify-content-lg-around align-content-center">
            <div class="perfil-inspirador">
                <h5>Jeff Bezos</h5>
            </div>
        </div>
        <div id="BillG" class="info-persona col-xs-6 col-sm-4 col-lg-2 justify-content-lg-around">
            <div class="perfil-inspirador align-items-center">
                <h5>Bill Gates</h5>
            </div>
        </div>
        <div id="SteveJ" class="info-persona col-xs-6 col-sm-4 col-lg-2 justify-content-lg-around align-content-center">
            <div class="perfil-inspirador">
                <h5>Steve Jobs</h5>
            </div>
        </div>
        <div id="EllonM" class="info-persona col-xs-6 col-sm-4 col-lg-2 justify-content-lg-around align-content-center">
            <div class="perfil-inspirador">
                <h5>Ellon Musk</h5>
            </div>
        </div>
        <div id="JackM" class="info-persona col-xs-6 col-sm-3 col-lg-2 justify-content-lg-around align-content-center">
            <div class="perfil-inspirador">
                <h5>Jack Ma</h5>
            </div>
        </div>
        <div id="PropioPerfil" class="info-persona col-xs-6 col-sm-3 col-lg-2 justify-content-lg-around align-content-center">
            <div class="perfil-inspirador">
                <h5>@Html.ActionLink("Arma tu perfil", "Create", "Inspiration_Profiles")</h5>
            </div>
        </div>
    </div>
</section>
<!-- Contact us section starts here -->
<section id="ContactUs" class="container contact-container">
    <div class="row">
        <div class="col-xs-12 col-lg-6">
            <h3 class="contact-title">Get In Touch</h3>
            <div class="contact-outer-wrapper">
                <div class="address-block">
                    <p class="add-title">Detalles de Contacto</p>
                    <div class="c-detail">
                        <span class="c-icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span> <span class="c-info">12 Avenue center, st. marks road, CA</span>
                    </div>
                    <div class="c-detail">
                        <span class="c-icon"><i class="fa fa-phone" aria-hidden="true"></i></span> <span class="c-info">+41982399090000</span>
                    </div>
                    <div class="c-detail">
                        <span class="c-icon"><i class="fa fa-envelope" aria-hidden="true"></i></span> <span class="c-info">click@gmail.com</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-6">
            <div class="form-wrap">
                <p class="add-title">Send Us Message</p>
                <form>
                    <div class="fname floating-label">
                        <input type="text" class="floating-input" name="full name" id="full-name-field" />
                        <label for="full-name-field">Full Name</label>
                    </div>
                    <div class="email floating-label">
                        <input type="email" class="floating-input" name="email" id="mail-field" />
                        <label for="mail-field">Email</label>
                    </div>
                    <div class="contact floating-label">
                        <input type="tel" class="floating-input" name="contact" id="contact-us-field" />
                        <label for="contact-us-field">Contact</label>
                    </div>
                    <div class="company floating-label">
                        <input type="text" class="floating-input" name="company" id="company-field" />
                        <label for="company-field">Company</label>
                    </div>
                    <div class="user-msg floating-label">
                        <textarea class="floating-input" name="user message" id="user-msg-field"></textarea>
                        <label for="user-msg-field" class="msg-label">Your Message</label>
                    </div>
                    <div class="submit-btn">
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>
<!-- Contact us section ends here
<div class="row">
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="..." alt="...">
        </a>
    </div>

    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="..." alt="si es chico dos imgs entran y si es mediano entran 4">
            </a>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2>Getting started</h2>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Get more libraries</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
        </div>
    -->
    </div>
<script src="~/Scripts/script.js"></script>